body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background:linear-gradient(45deg,pink,magenta,purple,lightskyblue,blue);
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(83, 6, 87, 0.2);
}

.container:hover
{
    box-shadow:0 0 30px #000;
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
}

.cell {
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.cell:hover {
    background-color: lightskyblue;
    color:navy;
}

.status {
    margin-top: 20px;
    font-size: 1.5em;
}

.reset-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 1em;
    cursor: pointer;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.reset-btn:hover {
    background-color: blue;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color:dodgerblue;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(255, 253, 253, 0.1);
}

.close {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 28px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
